@page "/calculator"

<h1 class="mb-5">Calculator</h1>

<div class="card calculation-card">
    <div class="card-header calculation-card-header">
        @calculation.GetCalculation()
    </div>
    <div class="card-body calculation-card-text">
        @Calc.Calculate(@calculation)
    </div>
</div>
<div class="button-container">
    @foreach (var row in @buttons) {
        <div class="button-container-row">
            @foreach (var button in row) {
                <button id=@button.DisplayText class="digit-button" @onclick="@(() => @calculation.AddToCalculation(@button))">@button.DisplayText</button>
            }
        </div>
    }
</div>




@code {
    List<List<Button>> buttons = new List<List<Button>>()
    {
    new List<Button>() { new Button("7"), new Button("8"), new Button("9") },
    new List<Button>() { new Button("4"), new Button("5"), new Button("6") },
    new List<Button>() { new Button("1"), new Button("2"), new Button("3") },
    new List<Button>() { new Button("+/-"), new Button("0"), new Button(".") }
    };

    Calculation calculation = new Calculation();
}